<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
     <extension
           id="com.drgarbage.controlflowgraphfactory.plugin.editors"
           point="org.eclipse.ui.editors">
      <editor name="%editor.Control_Flow_Graph_Editor"
              extensions="graph"
              icon="$nl$/com/drgarbage/controlflowgraphfactory/img/control-flow-graph-factory-16x16.png"
              default="true"
              class="com.drgarbage.controlflowgraphfactory.editors.ControlFlowGraphEditor"
              contributorClass="com.drgarbage.controlflowgraphfactory.editors.ControlFlowGraphEditorActionBarContributor"
              id="com.drgarbage.controlflowgraphfactory.editor">
      </editor>
      <editor
            class="com.drgarbage.controlflowgraphfactory.editors.dot.DOTEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="dot"
            icon="$nl$/com/drgarbage/controlflowgraphfactory/img/cfgf-dot-editor-16x16.png"
            id="com.drgarbage.controlflowgraphfactory.editors.dot.DOTEditor"
            name="DOT Editor">
      </editor>
   </extension>
   <extension
         id="com.drgarbage.controlflowgraphfactory.plugin.wizards"
         point="org.eclipse.ui.newWizards">
      <category
            id="com.drgarbage.plugin.wizards.category.controlflowgraph"
            name="%category.Control_Flow_Graph"
            />
      <wizard
            category="com.drgarbage.plugin.wizards.category.controlflowgraph"
            class="com.drgarbage.controlflowgraphfactory.wizards.ControlFlowGraphCreationWizard"
            icon="$nl$/com/drgarbage/controlflowgraphfactory/img/create-bytecodegraph-16x16.png"
            id="com.drgarbage.plugin.wizards.CreationWizard"
            name="%wizard.Control_Flow_Graph">
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>
   <extension
         id="com.drgarbage.controlflowgraphfactory.plugin.popupmenu"
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="com.drgarbage.controlflowgraphfactory.popup"
            objectClass="org.eclipse.jdt.core.IMethod">
         <menu
               id="com.drgarbage.controlflowgraphfactory.popup.menu1"
               label="%menu.Create_Control_Flow_Graph"
               path="createcontrolflowgraphs">
            <separator name="group-creategraphs"/>
         </menu>
         <action
               class="com.drgarbage.controlflowgraphfactory.actions.GenerateBytecodeGraphAction"
               enablesFor="1"
               icon="$nl$/com/drgarbage/controlflowgraphfactory/img/create-bytecodegraph-16x16.png"
               id="com.drgarbage.controlflowgraphfactory.createbytecodegraph"
               label="%action.Create_Bytecode_Graph"
               menubarPath="com.drgarbage.controlflowgraphfactory.popup.menu1/group-creategraphs"/>
         <action
               class="com.drgarbage.controlflowgraphfactory.actions.GenerateBasicblockGraphAction"
               enablesFor="1"
               icon="$nl$/com/drgarbage/controlflowgraphfactory/img/create-basicblockgraph-16x16.png"
               id="com.drgarbage.controlflowgraphfactory.createbasicblockgraph"
               label="%action.Create_Basicblock_Graph"
               menubarPath="com.drgarbage.controlflowgraphfactory.popup.menu1/group-creategraphs"/>
         <action
               class="com.drgarbage.controlflowgraphfactory.actions.GenerateSourcecodeGraphAction"
               enablesFor="1"
               icon="$nl$/com/drgarbage/controlflowgraphfactory/img/create-sourcecodegraph-16x16.png"
               id="com.drgarbage.controlflowgraphfactory.createsourcegraph"
               label="%action.Create_Sourcecode_Graph"
               menubarPath="com.drgarbage.controlflowgraphfactory.popup.menu1/group-creategraphs"/>
      </objectContribution>
      <objectContribution
            id="com.drgarbage.controlflowgraphfactory.popup2"
            objectClass="org.eclipse.jdt.core.IType">
         <menu
               id="com.drgarbage.controlflowgraphfactory.popup.menu2"
               label="%menu.Create_Graphs_for_selected_Class"
               path="createallcontrolflowgraphs">
            <separator name="group-create-all-graphs"/>
         </menu>
         <action
               class="com.drgarbage.controlflowgraphfactory.actions.GenerateBytecodeGraphsAction"
               enablesFor="1"
               icon="$nl$/com/drgarbage/controlflowgraphfactory/img/create-bytecodegraph-16x16.png"
               id="com.drgarbage.controlflowgraphfactory.createallbytecodegraph"
               label="%action.Create_All_Bytecode_Graph"
               menubarPath="com.drgarbage.controlflowgraphfactory.popup.menu2/group-create-all-graphs"/>
         <action
               class="com.drgarbage.controlflowgraphfactory.actions.GenerateBasicBlockGraphsAction"
               enablesFor="1"
               icon="$nl$/com/drgarbage/controlflowgraphfactory/img/create-basicblockgraph-16x16.png"
               id="com.drgarbage.controlflowgraphfactory.createallbasicblockgraph"
               label="%action.Create_All_Basicblock_Graph"
               menubarPath="com.drgarbage.controlflowgraphfactory.popup.menu2/group-create-all-graphs"/>
         <action
               class="com.drgarbage.controlflowgraphfactory.actions.GenerateSourcecodeGraphsAction"
               enablesFor="1"
               icon="$nl$/com/drgarbage/controlflowgraphfactory/img/create-sourcecodegraph-16x16.png"
               id="com.drgarbage.controlflowgraphfactory.createallsourcegraph"
               label="%action.Create_All_Sourcecode_Graph"
               menubarPath="com.drgarbage.controlflowgraphfactory.popup.menu2/group-create-all-graphs"/>
      </objectContribution>
      <objectContribution
            id="com.drgarbage.controlflowgraphfactory.popup3"
            objectClass="org.eclipse.jdt.core.IPackageFragment">
         <menu
               id="com.drgarbage.controlflowgraphfactory.popup.menu3"
               label="%menu.Create_Graphs_for_selected_Package"
               path="createallcontrolflowgraphs">
            <separator name="group-create-all-graphs"/>
         </menu>
         <action
               class="com.drgarbage.controlflowgraphfactory.actions.GenerateBytecodeGraphsAction"
               enablesFor="1"
               icon="$nl$/com/drgarbage/controlflowgraphfactory/img/create-bytecodegraph-16x16.png"
               id="com.drgarbage.controlflowgraphfactory.createallbytecodegraph"
               label="%action.Create_All_Bytecode_Graph"
               menubarPath="com.drgarbage.controlflowgraphfactory.popup.menu3/group-create-all-graphs"/>
         <action
               class="com.drgarbage.controlflowgraphfactory.actions.GenerateBasicBlockGraphsAction"
               enablesFor="1"
               icon="$nl$/com/drgarbage/controlflowgraphfactory/img/create-basicblockgraph-16x16.png"
               id="com.drgarbage.controlflowgraphfactory.createallbasicblockgraph"
               label="%action.Create_All_Basicblock_Graph"
               menubarPath="com.drgarbage.controlflowgraphfactory.popup.menu3/group-create-all-graphs"/>
         <action
               class="com.drgarbage.controlflowgraphfactory.actions.GenerateSourcecodeGraphsAction"
               enablesFor="1"
               icon="$nl$/com/drgarbage/controlflowgraphfactory/img/create-sourcecodegraph-16x16.png"
               id="com.drgarbage.controlflowgraphfactory.createallsourcegraph"
               label="%action.Create_All_Sourcecode_Graph"
               menubarPath="com.drgarbage.controlflowgraphfactory.popup.menu3/group-create-all-graphs"/>
      </objectContribution>      
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.drgarbage.MainPage"
            class="com.drgarbage.controlflowgraphfactory.preferences.ControlFlowFactoryPreferencePage"
            id="com.drgarbage.controlflowgraphfactory.ControlFlowFactoryPreferences"
            name="%page.Control_Flow_Graph"/>
      <page
            category="com.drgarbage.controlflowgraphfactory.ControlFlowFactoryPreferences"
            class="com.drgarbage.controlflowgraphfactory.preferences.GenerateGraphOptionsPreferencePage"
            id="com.drgarbage.controlflowgraphfactory.preferences.GenerateGraphOPtionPage"
            name="%page.GenerateGraphOPtion">
      </page>
   </extension>
     <extension 
     	point="org.eclipse.compare.contentMergeViewers">
     <viewer
           class="com.drgarbage.controlflowgraphfactory.compare.GraphMergeViewerCreator"
           extensions="graph, graph.dot"
           id="com.drgarbage.bytecodevisualizer.compare.GraphMergeViewer"
           label="Graph Compare">
     </viewer>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="com.drgarbage.controlflowgraphfactory.category1"
            name="%DrGarbageWizardCategory_title">
      </category>
      <wizard
            category="com.drgarbage.controlflowgraphfactory.category1"
            class="com.drgarbage.controlflowgraphfactory.wizards.ControlFlowGraphExportWizard"
            icon="$nl$/com/drgarbage/controlflowgraphfactory/img/create-bytecodegraph-16x16.png"
            id="com.drgarbage.controlflowgraphfactory.wizard1"
            name="%ControlFlowGraphExportWizard_title">
      </wizard>
   </extension>
   -->
</plugin>
